*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.head1{
    background: url(h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding-top: 40%;
}

p{
    text-align: center;
}


