*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.head1{
    background: url(h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding-bottom: 25%;
    padding-top: 15%;
}

p{
    text-align: center;
}

#img1{
    position: relative;
    left: 47%;
    margin-bottom: 5%;
}

#img2{
    position: relative;
    left: 48%;
    bottom: 20;
    margin-top: 10%;
}

.head2{
    background: url(s_image.jpg);
    background-position: center;
}



