*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Asap', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
    overflow-y: hidden;
    font-weight: bold;
}

.head1{
    background: url(h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding-bottom: 25%;
    padding-top: 15%;
    overflow-y: hidden;
}

p{
    text-align: center;
}

#img1{
    position: relative;
    left: 47%;
    margin-bottom: 5%;
}

#img2{
    position: relative;
    left: 48%;
    bottom: 20;
    margin-top: 10%;
}

.head2{
    background: url(s_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 8%;
    padding-top: 8%;
}

/* #dev,#product{
    padding-left: 20%;
    position: relative;
    left: 30%;
    top: 20%;
} */

#design{
    padding-left: 35%;
}

.group1{
    padding-top: 1%;
    padding-left: 15%;
}

.group2{
    padding-top: 1%;
    padding-left: 15%;
}

.jpg3,.jpg4,.jpg5,.jpg6,.jpg7,.jpg8{
    padding-left: 1%;
}

.jpg1{
    padding-right: 1%;
}

#name, #email{
    justify-content: center;
}

#head4{
    color: white;
    background: url(c_image.jpg);
}

/* #email,#name,#textarea{
    background: none;

} */

#center{
    /* position: relative; */
    left: 35%;
}

#text{
    /* position: relative; */
    left: 35%;
}

.designAlign{
    text-align: center;
    padding-right: 15%;
    display: none;
    /* margin-right: 75%; */
    /* margin-left: 35%; */
}

.head3{
    overflow-y: hidden;
}

/* .devAlign{
    text-align: center;
    margin-left: 5%;
} */

.devIcon{
    text-align: center;
    /* float: left; */
}

.productIcon{
    padding-left: 10%;
}

.proAlign{
    padding-right: 10%;
}

#product{
    padding-left: 35%;
}

/* .designAlign{
    display: none;
} */

#headAlign{
    padding-right: 15%;
}

.devAlign{
    display: none;
}

.proAlign{
    display: none;
}

#social{
    padding-left: 35%;
}

textarea{
    width: 50%;
    background: none;
    margin-left: 30%;
    margin-top: 2%;
    color: white;
}

#mce-EMAIL{
    background: none;
    margin-left: 3%;
    width: 500px;
    color: white;
}

#mce-FNAME{
    background: none;
    margin-left: 25%;
    width: 500px;
    color: white;
}

#subscribe{
    position: relative;
}

footer{
    text-align: center;
}

.hover1{
    
}




